EnumControlView {
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.unity-base-field {
    width: 80px;
	flex:1;
    margin-left: 0;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.unity-base-field__input {
	flex:1;
	margin-left: 0;
    margin-right: 0px;
}

EnumControlView > Label {
    width: 94px;
    -unity-text-align: middle-left;
}
